In [8]:
import pandas as pd
import re

In [9]:
df = pd.read_csv('house.csv')

In [14]:

filtroCinco = df.groupby(['SellerG']).mean(numeric_only=True)
filtroCinco

                 Rooms         Price     Postcode  Propertycount   Distance
SellerG
@Realty       3.629630  7.489286e+05  3086.814815    8510.888889  15.948148
A             3.000000  7.265000e+05  3047.888889    4412.000000  13.533333
AIME          4.000000  9.800000e+05  3147.000000    2894.000000  10.200000
ASL           3.400000  1.103750e+06  3104.900000    9702.000000  14.820000
Abercromby's  3.220588  2.152905e+06  3139.323529    8806.500000   5.152941
...                ...           ...          ...            ...        ...
iOne          3.000000  6.200000e+05  3013.000000    6543.000000   6.300000
iProperty     3.000000  8.200000e+05  3133.000000    4181.000000  17.200000
iSell         3.165354  7.200606e+05  3190.055118    7636.574803  22.168504
iTRAK         3.306667  7.343636e+05  3196.773333    6775.426667  24.645333
voglwalpole   3.250000  7.665000e+05  3134.500000    3507.000000  20.600000

[476 rows x 5 columns]

In [17]:
df.groupby(['SellerG']).sum().sort_values('Price', ascending=False).head(10)

                                                          Suburb  ...                                        CouncilArea
SellerG                                                           ...
Jellis         AbbotsfordAirport WestAlphingtonArmadaleArmada...  ...  Yarra City CouncilMoonee Valley City CouncilDa...
Nelson         AbbotsfordAirport WestAirport WestBellfieldBru...  ...  Yarra City CouncilMoonee Valley City CouncilMo...
Barry          AberfeldieAirport WestAltona MeadowsAttwoodBla...  ...  Moonee Valley City CouncilMoonee Valley City C...
Marshall       AbbotsfordArmadaleBalwynBlack RockBrightonBrig...  ...  Yarra City CouncilStonnington City CouncilBoro...
hockingstuart  AlbanvaleArmadaleArmadaleAspendaleAvondale Hei...  ...  Brimbank City CouncilStonnington City CouncilS...
Buxton         BeaumarisBeaumarisBentleighBentleigh EastBlack...  ...  Bayside City CouncilBayside City CouncilGlen E...
Ray            Ascot ValeAshwoodAspendale GardensBeaumarisBru...  ...  Moonee Valley City CouncilMonash City CouncilK...
Fletchers      AshburtonBalwynBalwyn NorthBalwyn NorthBalwyn ...  ...  Boroondara City CouncilBoroondara City Council...
Biggin         BoroniaBrunswick WestCaulfield SouthCraigiebur...  ...  Knox City CouncilMoreland City CouncilGlen Eir...
Noel           BalwynBlackburnBlackburnBlackburn NorthBlackbu...  ...  Boroondara City CouncilWhitehorse City Council...

[10 rows x 12 columns]